<div id="elenco">
    <ul>
        <li>
            <h3>{{ pizze[0].name }} - {{ pizze[0].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(0)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[1].name }} - {{ pizze[1].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(1)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[2].name }} - {{ pizze[2].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(2)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[3].name }} - {{ pizze[3].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(3)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[4].name }} - {{ pizze[4].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(4)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[5].name }} - {{ pizze[5].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(5)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[6].name }} - {{ pizze[6].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(6)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[7].name }} - {{ pizze[7].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(7)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[8].name }} - {{ pizze[8].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(8)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[9].name }} - {{ pizze[9].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(9)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[10].name }} - {{ pizze[10].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(10)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[11].name }} - {{ pizze[11].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(11)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[12].name }} - {{ pizze[12].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(12)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[13].name }} - {{ pizze[13].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(13)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[14].name }} - {{ pizze[14].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(14)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[15].name }} - {{ pizze[15].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(15)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[16].name }} - {{ pizze[16].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(16)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[17].name }} - {{ pizze[17].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(17)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[18].name }} - {{ pizze[18].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(18)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[19].name }} - {{ pizze[19].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(19)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[20].name }} - {{ pizze[20].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(20)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[21].name }} - {{ pizze[21].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(21)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[22].name }} - {{ pizze[22].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(22)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[23].name }} - {{ pizze[23].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(23)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[24].name }} - {{ pizze[24].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(24)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[25].name }} - {{ pizze[25].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(25)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[26].name }} - {{ pizze[26].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(26)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[27].name }} - {{ pizze[27].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(27)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[28].name }} - {{ pizze[28].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(28)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[29].name }} - {{ pizze[29].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(29)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[30].name }} - {{ pizze[30].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(30)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[31].name }} - {{ pizze[31].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(31)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[32].name }} - {{ pizze[32].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(32)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[33].name }} - {{ pizze[33].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(33)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[34].name }} - {{ pizze[34].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(34)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[35].name }} - {{ pizze[35].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(35)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[36].name }} - {{ pizze[36].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(36)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[37].name }} - {{ pizze[37].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(37)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[38].name }} - {{ pizze[38].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(38)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[39].name }} - {{ pizze[39].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(39)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[40].name }} - {{ pizze[40].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(40)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[41].name }} - {{ pizze[41].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(41)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[42].name }} - {{ pizze[42].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(42)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[43].name }} - {{ pizze[43].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(43)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[44].name }} - {{ pizze[44].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(44)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[45].name }} - {{ pizze[45].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(45)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[46].name }} - {{ pizze[46].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(46)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[47].name }} - {{ pizze[47].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(47)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[48].name }} - {{ pizze[48].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(48)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ pizze[49].name }} - {{ pizze[49].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(49)">Vedi Ingredienti</button>
        </li>
    </ul>
</div>
