<div id="elenco">
    <ul>
        <li>
            <h3>{{ listaPizze[0].name }} - {{ listaPizze[0].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(0)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ listaPizze[1].name }} - {{ listaPizze[1].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(1)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ listaPizze[2].name }} - {{ listaPizze[2].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(2)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ listaPizze[3].name }} - {{ listaPizze[3].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(3)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ listaPizze[4].name }} - {{ listaPizze[4].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(4)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ listaPizze[5].name }} - {{ listaPizze[5].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(5)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ listaPizze[6].name }} - {{ listaPizze[6].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(6)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ listaPizze[7].name }} - {{ listaPizze[7].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(7)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ listaPizze[8].name }} - {{ listaPizze[8].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(8)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ listaPizze[9].name }} - {{ listaPizze[9].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(9)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ listaPizze[10].name }} - {{ listaPizze[10].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(10)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ listaPizze[11].name }} - {{ listaPizze[11].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(11)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ listaPizze[12].name }} - {{ listaPizze[12].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(12)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ listaPizze[13].name }} - {{ listaPizze[13].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(13)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ listaPizze[14].name }} - {{ listaPizze[14].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(14)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ listaPizze[15].name }} - {{ listaPizze[15].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(15)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ listaPizze[16].name }} - {{ listaPizze[16].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(16)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ listaPizze[17].name }} - {{ listaPizze[17].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(17)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ listaPizze[18].name }} - {{ listaPizze[18].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(18)">Vedi Ingredienti</button>
        </li>
        <li>
            <h3>{{ listaPizze[19].name }} - {{ listaPizze[19].price }}€</h3>
            <button (click)="onVisualizzaIngredienti(19)">Vedi Ingredienti</button>
        </li>
    </ul>
</div>
