.pizza{
    border: 1px solid black;
    width: 300px;
    margin: 10px;
    border-radius: 20px;
}

button{
    border-radius: 30px;
    color: white;
    background-color: blue;
    width: 100%;
}

.pizza, button {
    text-align: center;
    padding: 10px;
}

.none{
    display: none;
}